<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trusted Restaurant Catalogue">
    <meta name="theme-color" content="#865439"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Quick Dine-In</title>
<body>
    <a href="#main-content" class="skip-link">Go To Main Content</a>

    <header class="header">
    <div class="header-inner">
        <h1 class="header-title">
            Quick Dine-In
        </h1>
    </div>

    <a id="hamburger" class="header-hamburger" href="#">☰</a>
</header>

<nav id="drawer" class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="#/home">Home</a></li>
        <li class="nav-item"><a href="#/favorite">Favorites</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/rezazoltan313/" target="_blank">About Us</a></li>
    </ul>
</nav>

<main id="main-content"></main>

    <footer>
        <p>Copyright ©2021 - Quick Dine-In. All Rights Reserved.</p>
    </footer>
    </body>
</html>
